.howitworksGlobe {
    animation: rotateGlobe 10s linear infinite;
    overflow: hidden;
}

@keyframes rotateGlobe {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.howitworks .dot {
    position: absolute;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00FF00;
    margin-top: 8px;
    transition: transform 0.6s ease-in-out, box-shadow 0.2s ease;
    cursor: pointer;
}

.howitworks .dot:hover {
    animation: heartbeat 1s infinite;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.7);
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.presales {
    transition: box-shadow 0.5s ease-in-out;
}

.presales:hover {
    box-shadow: 
        rgba(76, 175, 80, 0.1) 0px -0.5px 1px,
        rgba(76, 175, 80, 0.15) 0px -1px 2px,
        rgba(76, 175, 80, 0.2) 0px -2px 4px,
        rgba(76, 175, 80, 0.25) 0px -3px 6px,
        rgba(76, 175, 80, 0.3) 0px -4px 8px,
        rgba(76, 175, 80, 0.35) 0px -5px 10px,
        rgba(76, 175, 80, 0.4) 0px -6px 12px,
        rgba(76, 175, 80, 0.5) 0px -8px 16px,
        rgba(76, 175, 80, 0.1) 0px 0.5px 1px,
        rgba(76, 175, 80, 0.15) 0px 1px 2px,
        rgba(76, 175, 80, 0.2) 0px 2px 4px,
        rgba(76, 175, 80, 0.25) 0px 3px 6px,
        rgba(76, 175, 80, 0.3) 0px 4px 8px,
        rgba(76, 175, 80, 0.35) 0px 5px 10px,
        rgba(76, 175, 80, 0.4) 0px 6px 12px,
        rgba(76, 175, 80, 0.5) 0px 8px 16px;
}

/* @keyframes pulse-shadow {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: rgba(76, 175, 80, 0.1) 0px -0.5px 1px,
            rgba(76, 175, 80, 0.15) 0px -1px 2px,
            rgba(76, 175, 80, 0.2) 0px -2px 4px,
            rgba(76, 175, 80, 0.25) 0px -3px 6px,
            rgba(76, 175, 80, 0.3) 0px -4px 8px,
            rgba(76, 175, 80, 0.35) 0px -5px 10px,
            rgba(76, 175, 80, 0.4) 0px -6px 12px,
            rgba(76, 175, 80, 0.5) 0px -8px 16px,
            rgba(76, 175, 80, 0.1) 0px 0.5px 1px,
            rgba(76, 175, 80, 0.15) 0px 1px 2px,
            rgba(76, 175, 80, 0.2) 0px 2px 4px,
            rgba(76, 175, 80, 0.25) 0px 3px 6px,
            rgba(76, 175, 80, 0.3) 0px 4px 8px,
            rgba(76, 175, 80, 0.35) 0px 5px 10px,
            rgba(76, 175, 80, 0.4) 0px 6px 12px,
            rgba(76, 175, 80, 0.5) 0px 8px 16px;
    }

    100% {
        box-shadow: none;
    }
} */

.tokemonics-Bg-img img {
    animation: zoomInOut 5s ease-in-out infinite;
}

@keyframes zoomInOut {

    0%,
    100% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1);
    }
}


.ufoImage {

    animation: rotateUFO 10s linear infinite;
}

@keyframes rotateUFO {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(20deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}



.icon-container {
    position: relative;
    width: 100%;
    height: 500px;
    /* Adjust the container height */
    overflow: hidden;
}

/* Common styles for all icons */
.fIcon1,
.fIcon2,
.fIcon3,
.fIcon4,
.fIcon5 {
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Unique starting positions */
.fIcon1 {
    right: 20%;
    top: 7%;
    animation: moveDown 10s infinite alternate;
}

.fIcon2 {
    top: 25%;
    left: 20%;
    animation: moveUp 12s infinite alternate;
}

.fIcon3 {
    left: 20%;
    top: 10%;
    animation: moveRight 8s infinite alternate;
}

.fIcon4 {
    top: 20%;
    right: 20%;
    animation: moveLeft 9s infinite alternate;
}

.fIcon5 {
    top: 20%;
    left: 50%;
    animation: moveDiagonal 11s infinite alternate;
}

/* Animations */

/* Move vertically down */
@keyframes moveDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(300px);
        /* Adjust movement distance */
    }
}

/* Move vertically up */
@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-300px);
        /* Adjust movement distance */
    }
}

/* Move horizontally right */
@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
        /* Adjust movement distance */
    }
}

/* Move horizontally left */
@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300px);
    }
}

@keyframes moveDiagonal {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(200px, 200px);
    }
}

.animated-earth {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.animated-earth img {
    animation: upandDown 10s linear infinite;
}



.blur-shadow {
    position: fixed;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(100px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    opacity: 1;
    background: linear-gradient(180deg, #7D32F9 0%, #486FF8 91.67%);
    pointer-events: none;
}

.blur-shadow-left {
    left: -5%;
    top: 0;
    animation: moveTopToBottom 18s ease-in-out infinite, pulseGlow 4s ease-in-out infinite alternate;
}

.blur-shadow-right {
    right: -5%;
    bottom: 0;
    animation: moveBottomToTop 18s ease-in-out infinite, pulseGlow 4s ease-in-out infinite alternate;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0px 15px 60px rgba(125, 50, 249, 0.4);
        opacity: 0.6;
    }

    100% {
        box-shadow: 0px 15px 80px rgba(125, 50, 249, 0.7);
        opacity: 1;
    }
}

@keyframes moveTopToBottom {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveBottomToTop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

.image-container {
    position: relative;
    display: inline-block;
}

.moving-shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    background: radial-gradient(circle, rgba(40, 167, 69, 0.5), transparent);
    border-radius: 50%;
    z-index: -1;
    animation: glow-and-move 4s infinite alternate ease-in-out;
}

@keyframes glow-and-move {
    0% {
        transform: translate(-50%, -50%) scale(1);
        filter: blur(10px);
        opacity: 0.7;
    }

    50% {
        transform: translate(-48%, -52%) scale(1.2);
        filter: blur(15px);
        opacity: 0.9;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        filter: blur(10px);
        opacity: 0.7;
    }
}
