/* new css */
.news {
  padding-top: 100px;
}

.newButton {
  background-color: transparent;
  border-radius: 0;
  border-color: #4caf50;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 8px;
  color: #4caf50;
}

.newButton:hover {
  background-color: #4caf50;
  color: white;
}

.subscribeInput {
  background-color: transparent !important;
  border-radius: 0;
  border-color: black !important;
}

.newsBullet li::marker {
  color: #CBFB45;
}


.white-line {
  transition: height 0.5s ease-out;
  height: 100%;
}

.green-line {
  transition: height 0.1s ease-out;
  height: 0%;

}

.roadmap-icon {
  background-color: #fff !important;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
}

.roadmap-icon.active {
  background-color: var(--green) !important;
}

.roadmap-icon.active svg path {
  fill: white !important;
}


.midLine {
  margin-top: 100px;
}

.ColStyle {
  background-color: #4CAF50;
  text-decoration: none;
}

.cardStyle {
  background-color: #232325;
  text-decoration: none;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.loading-coin {
  animation: rotateCoin 1.5s linear infinite;
}

@keyframes rotateCoin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}