/* new css */
.news {
  padding-top: 100px;
}

.newButton {
  background-color: transparent;
  border-radius: 0;
  border-color: #4caf50;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 8px;
  color: #4caf50;
}

.newButton:hover {
  background-color: #4caf50;
  color: white;
}
.subscribeInput {
  background-color: transparent !important;
  border-radius: 0;
  border-color: black !important;
}

.newsBullet li::marker {
    color: #CBFB45;
}
.Feature-bg-image{
background-image: url("/featureHeader.png");
/* height: 100%; */
/* width: 100% ; */
background-size: 100%;
}
