* {
  font-family: var(--font-smooch-sans), sans-serif;
}
body {
  background-color: #030b15 !important;
  overflow-x: hidden !important;
}
.nav-bg {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}
.nav-bg .logo {
  filter: drop-shadow(0px 54px 55px rgba(244, 165, 64, 0.2))
    drop-shadow(0px -12px 30px rgba(244, 165, 64, 0.12))
    drop-shadow(0px 4px 6px rgba(244, 165, 64, 0.12))
    drop-shadow(0px 12px 13px rgba(244, 165, 64, 0.17))
    drop-shadow(0px -3px 5px rgba(244, 165, 64, 0.09));
}
.text-green {
  color: green !important;
}

.nav-bg a {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
}
.nav-button {
  background: linear-gradient(90deg, #4caf50, #204921, #4caf50);
  background-size: 300% 300% !important;
  border-radius: 30px !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
  border: none !important;
  animation: gradient-animation 3s ease infinite;
}
.nav-button:hover {
  box-shadow: rgba(76, 175, 80, 0.2) 8px 8px 24px;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-bg form {
  border-left: 1px solid #626769;
}

.offcanvasNavbar {
  width: 250px !important;
}

.offcanvasNavbar a {
  border-bottom: 1px solid #4caf50;
}
.offcanvasNavbar .btn-close {
  background-color: #4caf50;
}
.navbar-toggler {
  box-shadow: none !important;
}
.hero h1 {
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0.02em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  will-change: background-position;
  animation: shining-effect 3s infinite;
}

@keyframes shining-effect {
  0% {
    background-position: -100% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.heroouter {
  height: 100vh;
}
.hero p {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.greenbtn {
  background: linear-gradient(270deg, #2e7d32 0%, #54e35b 100%);

  background-size: 300% 300% !important;
  border-radius: 10px !important;
  color: white !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
  border: 1px solid #2e7d32 !important;
  animation: gradient-animation 3s ease infinite;
  padding: 15px 30px !important;
}
.greenbtn:hover {
  box-shadow: rgba(76, 175, 80, 0.2) 8px 8px 24px;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.transparentbtn {
  border-radius: 10px !important;
  color: white !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
  border: 1px solid #2e7d32 !important;
  padding: 15px 40px !important;
  background-color: transparent !important;
}

.heroouter {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.content-container {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}
@keyframes pulse-shadow {
  0% {
    box-shadow: none; /* No shadow */
  }
  50% {
    box-shadow: rgba(88, 156, 255, 0.1) 0px -1px 2px,
      rgba(88, 156, 255, 0.15) 0px -2px 4px,
      rgba(88, 156, 255, 0.2) 0px -4px 8px,
      rgba(88, 156, 255, 0.25) 0px -6px 12px,
      rgba(88, 156, 255, 0.3) 0px -8px 16px,
      rgba(88, 156, 255, 0.35) 0px -10px 20px,
      rgba(88, 156, 255, 0.4) 0px -12px 24px,
      rgba(88, 156, 255, 0.5) 0px -16px 32px,
      rgba(88, 156, 255, 0.1) 0px 1px 2px, rgba(88, 156, 255, 0.15) 0px 2px 4px,
      rgba(88, 156, 255, 0.2) 0px 4px 8px, rgba(88, 156, 255, 0.25) 0px 6px 12px,
      rgba(88, 156, 255, 0.3) 0px 8px 16px,
      rgba(88, 156, 255, 0.35) 0px 10px 20px,
      rgba(88, 156, 255, 0.4) 0px 12px 24px,
      rgba(88, 156, 255, 0.5) 0px 16px 32px;
  }
  100% {
    box-shadow: none;
  }
}

.presales {
  background: #011329 !important;
  color: white !important;
  border-radius: 30px !important;
  animation: pulse-shadow 4s infinite ease-in-out;
}

.presales h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 30.58px;
}
.star {
  filter: drop-shadow(0px 0px 10px #ffffff);
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg); /* Rotate a bit to the left */
  }
  75% {
    transform: rotate(10deg); /* Rotate a bit to the right */
  }
  100% {
    transform: rotate(0deg); /* Return to original position */
  }
}

.coin-image {
  filter: drop-shadow(0px 0px 20px rgb(242, 140, 60));
  animation: swing 2s ease-in-out infinite;
}

.section-heading h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 70.6px;
  text-align: center;
}
.section-heading p {
  font-size: 22px;
  font-weight: 400;
  line-height: 40.6px;
  text-align: center;
}
.manage h1 {
  font-size: 76px;
  font-weight: 600;
  line-height: 70px;
}
.manage h1 span {
  background: linear-gradient(268.97deg, #2e7d32 50.1%, #54e35b 99.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.manage p {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: white;
}
.phone {
  background-color: #030b15;
  height: 450px;
  border-radius: 20px;
}
.phone h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40.6px;
  color: #2e7d32;
}
.why h3 {
  background: linear-gradient(90deg, #4caf50 0%, #204921 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  color: transparent; /* For other browsers */
  text-shadow: 0px 0px 30px #77f47c; /* Drop shadow effect */
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
}

.why p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.need-icons {
  filter: drop-shadow(0px 5px 35px rgba(67, 132, 70, 0.35));
}
.accordion-button {
  background-color: #264168 !important;
  color: white;
  border-radius: 10px !important;
  font-size: 20px !important;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1px;
}
.accordion-body {
  background: transparent !important;
  color: white;
  padding-left: 10px !important;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1px;
}

.accordion-button:not(.collapsed) {
  color: white !important;
}
.accordion-button:not(.not-collapsed) {
  color: white !important;
  box-shadow: none !important;
}
.footer .link-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  color: #9eabbc !important;
}
.footer .footer-input {
  background: linear-gradient(
    85.02deg,
    rgba(38, 53, 75, 0.62) 16.14%,
    rgba(38, 53, 75, 0) 97.59%
  ) !important;
  border: 1px solid;

border-image-source: linear-gradient(180deg, rgba(62, 87, 123, 0.93) 0%, rgba(62, 87, 123, 0) 65.21%);


}
.footer .footer-input::placeholder{
  color:#9eabbc
}
.footer .copyright{
  color:#9eabbc
}
.no-box-shadow .vertical-timeline-element-content {
  box-shadow: none !important;
}
.vertical-timeline-element-content-arrow{
  display: none !important;
}
@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 60px;
    line-height: 50px;
  }
  .heroouter {
    height: 100vh;
  }
  .hero {
    text-align: center;
  }
  .hero p {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}
