* {
  font-family: var(--font-smooch-sans), sans-serif;
}
body {
  background-color: rgb(118, 118, 118) !important;
}
.nav-bg {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.nav-bg a {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
}
.nav-bg button {
  background: linear-gradient(90deg, #4caf50, #204921, #4caf50);
  background-size: 300% 300%;
  border-radius: 30px;
  color: white !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  border: none;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-bg form {
  border-left: 1px solid #626769;
}
.nav-bg button:hover {
  box-shadow: rgba(76, 175, 80, 0.35) 0px 5px 15px;
}
